<div class="card mb-2" *ngFor="let movie of movies">
  <div class="row">
    <div class="col-md-3">
      <img src="{{movie.imageURL}}" class="img-fit img-fluid"/>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h2 class="card-title">{{movie.title}}</h2>
        <p class="card-text">{{movie.description}}</p>
        <div>
          <button class="btn btn-primary">Details</button>
          <button class="btn btn-danger ms-2">Add to Favorites</button>
        </div>
      </div>
    </div>
  </div>
</div>
